@font-face {
  font-family: AvenirNext;
  src: local('AvenirNext'), url(fonts/AvenirNextLTPro-Regular.otf) format('opentype');
}

@font-face {
  font-family: TimeBurner;
  src: local('TimeBurner'), url(fonts/timeburnernormal.ttf) format('truetype');
}

@font-face {
  font-family: TimeBurnerBold;
  src: local('TimeBurnerBold'), url(fonts/timeburnerbold.ttf) format('truetype');
}

body {
  background-color: rgb(252, 252, 250);
  max-width: 1080px;
  margin: auto;
  font-family: AvenirNext;
}

h2 {
  font-size: 28px;
  font-family: TimeBurnerBold;
}

h3 {
  font-size: 22px;
  font-family: TimeBurnerBold;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

#navigation {
  text-align: right;
}

.nav-item {
  display: inline-block;
  padding: 72px 32px 72px 32px;
  text-transform: uppercase;
}

.nav-item a {
  color: black;
}

.nav-item a:hover {
  text-decoration: underline;
}

#nav-item-logo {
  float: left;
  margin-top: 16px;
}

#nav-item-contact {
  padding-right: 0;
}

#hero {
  background-color: rgb(202, 196, 187);
}

#hero-text {
  padding: 100px 0 100px 64px;
  flex: 1;
}

#hero-picture-wrapper {
  flex: 1;
  background-image: url('img/hero.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;   
}

#hero-picture {
  max-width: 100%;
}

.section {
  margin-top: 64px;
}

#about-picture-wrapper, #offer-picture-wrapper {
  text-align: center;
}

#about-picture, #offer-picture {
  height: 300px;
}

#about-text {
  flex: 1;
  padding-right: 128px;
}

.org-phase {
  padding: 16px;
}

.org-phase-title {
  text-align: center;
  padding-top: 16px;
}

.org-icon {
  max-width: 100%;
}

#contact {
  background-color: rgb(201, 196, 188);  
}

#contact-title {
  padding: 48px 0 0 48px;
}

#contact-text {
  padding: 48px 0 48px 0;
}

#footer {
  text-align: center;
  padding: 36px;
}

/*************************************
Tablets
************************************* */
@media (min-width:768px) and (max-width: 1199px) {
  .nav-item {
    padding: 72px 16px 72px 16px;
  }

  #nav-item-contact {
    padding-right: 32px;
  }
}


/*************************************
Landscape Mobile
************************************* */
@media (max-width: 767px) {

  p, ul {
    font-size: 18px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  #hero-text {
    padding: 100px 32px 100px 32px;
  }

  #hero-picture-wrapper {
    height: 400px;
  }

  #offer-title, #about-title, #org-title {
    padding-left: 32px;
  }

  #offer-text, #about-text {
    padding: 32px;
  }

  .org-icon {
    width: 100%;
  }

  .org-text {
    padding-left: 32px;
  }

  #contact-text {
    text-align: center;
    width: 100%;
  }

  .nav-item {
    display: none;
  }

  #nav-item-logo {
    float: none;
  }

  #navigation {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}